<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soapsnake.springboot.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.soapsnake.springboot.pojo.User">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="email_address" property="emailAddress" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,usergroup
    </sql>

    <select id="findAllUsers" resultMap="BaseResultMap">
        select *
        from user
    </select>

    <insert id="saveUser">
        insert into user
        (id,first_name,last_name,phone_number, email_address)
        values (
        #{id,jdbcType=INTEGER},
        #{firstName,jdbcType=VARCHAR},
        #{lastName,jdbcType=VARCHAR},
        #{phoneNumber,jdbcType=VARCHAR},
        #{emailAddress,jdbcType=VARCHAR})
    </insert>

    <select id="getUserByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        ORDER BY id
        limit #{start,jdbcType=INTEGER},#{length,jdbcType=INTEGER}
    </select>

    <select id="getTotal" resultType="INTEGER">
        select
        count(id)
        from user
    </select>

    <select id="getUserByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        username = #{username,jdbcType=VARCHAR}
    </select>

    <update id="modifyUserByID">
        update user
        set
        id = #{userID,jdbcType=INTEGER},
        username=#{username,jdbcType=VARCHAR},
        password=#{password,jdbcType=VARCHAR},
        usergroup=#{usergroup,jdbcType=INTEGER}
        where
        id = #{userID,jdbcType=INTEGER}
    </update>
</mapper>