body {
  padding: 5px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: user list */
.users {
  list-style: none;
}

.users li {
  clear: both;
  height: 50px;
  padding-top: 10px;
}

/**
.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}
*/

/* View: user detail */
.user {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.user:first-child {
  display: block;
}

.user-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.user-thumbs {
  list-style: none;
  margin: 0;
}

.user-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.user-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}
